<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="Game based off of Maplestory's Decoder minigame" content="">
		<meta name="By Gillian Sanchez" content="">
		<link rel="shortcut icon" href="#">
		<title>Number Decoder</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
		<link href="/css/custom.css" rel="stylesheet">
	</head>

	<body>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">

					<div class="inner cover">
						<h1 class="cover-heading">Number Decoder</h1>

						<!-- Content start -->
						<div class="metanav">
								<p class="lead">Enter a combination</p>
								<p id="result">⬤ ▲</p>
								<p id="code">- - -</p>

								<!-- Show all numbers as toggle buttons -->
								<div class="container">
									<button id="n1" class="btn" value="1">
										1
									</button>

									<button id="n2" class="btn" value="2">
										2
									</button>

									<button id="n3" class="btn" value="3">
										3
									</button>
								</div>
								<br>
								<div class="container">
									<button id="n4" class="btn" value="4">
										4
									</button>

									<button id="n5" class="btn" value="5">
										5
									</button>

									<button id="n6" class="btn" value="6">
										6
									</button>
								</div>
								<br>
								<div class="container">
									<button id="n7" class="btn" value="7">
										7
									</button>

									<button id="n8" class="btn" value="8">
										8
									</button>

									<button id="n9" class="btn" value="9">
										9
									</button>
								</div>
								<br>
								
								<button id="retry" class="btn long" onclick="retry()">Retry</button>
  						</div>
  						
					</div>
				</div>
			</div>
		</div>

		<div class="mastfoot">
  			<p>Gillian Sanchez 1003184</p>
		</div>


		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/init.js"></script>
	</body>
</html>
